form {
    display: grid;
    gap: 20px;
}

.booking-form {
    width: 40%;
    margin: 5rem auto;

}

input[type=text], input[type=number], input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #F4CE14;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }


label {
    margin-bottom: -1rem;

}