.food-card {
    width: 30%;
    height: 48vh;
    background-color: #EDEFEE;
    overflow:hidden;
    border-radius: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

.food-titles{
    display: flex;
    justify-content: space-between;
    margin-top: -0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.food-price {
    color: #EE9972;
}

.food-card > p {
    margin: 1rem;
    margin-bottom: 2rem;
}
.food-card > a {
    margin: 1rem;
    position: absolute;
    bottom: 0;
}


.food-pic{
    width: 320px;
    height: 200px;
    object-fit: cover;

}

.food-pic-div{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .food-card {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 3rem;
        height: 55vh;
    }
    .food-pic{
        height: 300px;
        width: 100%;

    }

  }